Using Logistic Regression/Binary Classification for Predictions...



Stay Connected!

ANKIT拉尔夫

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Using Pandas library to read the data as DataFrame.

In [74]:
train = pd.read_csv('../input/train.csv')
train.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [75]:
train['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [76]:
#Apart from using this function to fill up the missing values we can use;
#from sklearn.impute import SimpleImputer
#my_imputer = SimpleImputer()
#data_with_imputed_values = my_imputer.fit_transform(original_data)
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):

        if Pclass == 1:
            return 37 #using pandas mean function or seaborn box plot 

        elif Pclass == 2:
            return 29

        else:
            return 24

    else:
        return Age

In [77]:
train['Age'] = train[['Age','Pclass']].apply(impute_age,axis=1)

In [78]:
Dsex = pd.get_dummies(train['Sex'],drop_first=True) #get dummies method of pandas to convert categorical variable into dummy/indicator variables.
Dembark = pd.get_dummies(train['Embarked'],drop_first=True) #drop_first to drop first column.

In [79]:
train.head(5)

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [80]:
train['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [81]:
train.drop(['PassengerId','Cabin','Sex','Embarked','Name','Ticket'],axis=1,inplace=True)

In [82]:
train.head(1)

   Survived  Pclass   Age  SibSp  Parch  Fare
0         0       3  22.0      1      0  7.25

In [83]:
train = pd.concat([train,Dsex,Dembark],axis=1)

In [84]:
train.head(1)

   Survived  Pclass   Age  SibSp  Parch  Fare  male  Q  S
0         0       3  22.0      1      0  7.25     1  0  1

**LogisticRegression**

In [85]:
X=train.drop(['Survived'],axis=1)
y=train['Survived']

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('Survived',axis=1), 
                                                    train['Survived'], test_size=0.50, 
                                                    random_state=101)

In [88]:
from sklearn.linear_model import LogisticRegression

In [89]:
lm = LogisticRegression()
lm.fit(X_train,y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [90]:
predictions = logmodel.predict(X_test)

In [91]:
ML = pd.DataFrame(predictions)

In [92]:
ML #The Predictions

     0
0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    1
9    1
10   0
11   0
12   1
13   0
14   0
15   0
16   0
17   0
18   0
19   1
20   0
21   0
22   1
23   1
24   0
25   0
26   0
27   0
28   0
29   0
..  ..
416  1
417  0
418  0
419  0
420  0
421  0
422  0
423  1
424  1
425  0
426  0
427  0
428  0
429  0
430  0
431  0
432  0
433  0
434  1
435  1
436  1
437  1
438  1
439  0
440  0
441  0
442  1
443  1
444  0
445  1

[446 rows x 1 columns]

In [93]:
from sklearn.metrics import confusion_matrix

In [94]:
confusion_matrix(y_test,predictions)

array([[239,  36],
       [ 55, 116]])